* {
  box-sizing: border-box;
}

body, html {
  font-family: 'WorkSans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: $color-black-200;
}

body.lock {
  overflow: hidden;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img, video {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 115px;

  @include tablet {
    padding: 0 72px;
  }

  @include mobile {
    padding: 0 30px;
  }
}

.container-big {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 50px;

  @include mobile {
    padding: 0 30px;
  }
}